extends layout

block content
    section.
    header.
    h1.
        #{battle_info.name}
    img(src='http://us.battle.net/static-render/us/' + battle_info.thumbnail)
    #realm_name.
        #{battle_info.realm}
    #player_level.
        #{battle_info.level}
    section#battle_pets.
        Battle Pets
    for pet in battle_info.pets.collected
        #number_collected.
            #{pet.numCollected}
        #number_not_collected.
            #{pet.numNotCollected}
        ul
            li
                section(id='#{pet.creatureId}')
                    #pet_name.
                        #{pet.name}
                    img(src='http://us.media.blizzard.com/wow/icons/56/' + pet.icon + '.jpg')
                    #pet_level.
                        #{pet.stats.level}
                    #pet_health.
                        #{pet.stats.health}
                    #pet_power.
                        #{pet.stats.power}
                    #pet_speed.
                        #{pet.stats.speed}